.bc-fluid {
   position: relative;
   margin: 0 auto;
   padding: 0 15px
}

.bc-row:after,
.bc-row:before {
   content: "";
   display: block;
   clear: both
}

blockquote,
body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
   margin: 0;
   padding: 0;
   -webkit-tap-highlightor: rgba(0, 0, 0, 0)
}

a,
body {
   color: #333
}

body {
   line-height: 1.6;
   color: rgba(0, 0, 0, .85);
   font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif
}

hr {
   line-height: 0;
   margin: 10px 0;
   padding: 0;
   border: none !important;
   border-bottom: 1px solid #eee !important;
   clear: both;
   background: 0 0
}

a {
   text-decoration: none
}

a:hover {
   color: #777
}

a cite {
   font-style: normal;
   *cursor: pointer
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 400
}

.bc-lg1,
.bc-lg10,
.bc-lg11,
.bc-lg12,
.bc-lg2,
.bc-lg3,
.bc-lg4,
.bc-lg5,
.bc-lg6,
.bc-lg7,
.bc-lg8,
.bc-lg9,
.bc-md1,
.bc-md10,
.bc-md11,
.bc-md12,
.bc-md2,
.bc-md3,
.bc-md4,
.bc-md5,
.bc-md6,
.bc-md7,
.bc-md8,
.bc-md9,
.bc-sm1,
.bc-sm10,
.bc-sm11,
.bc-sm12,
.bc-sm2,
.bc-sm3,
.bc-sm4,
.bc-sm5,
.bc-sm6,
.bc-sm7,
.bc-sm8,
.bc-sm9,
.bc-xs1,
.bc-xs10,
.bc-xs11,
.bc-xs12,
.bc-xs2,
.bc-xs3,
.bc-xs4,
.bc-xs5,
.bc-xs6,
.bc-xs7,
.bc-xs8,
.bc-xs9 {
   position: relative;
   display: block;
   box-sizing: border-box
}

.bc-xs1,
.bc-xs10,
.bc-xs11,
.bc-xs12,
.bc-xs2,
.bc-xs3,
.bc-xs4,
.bc-xs5,
.bc-xs6,
.bc-xs7,
.bc-xs8,
.bc-xs9 {
   float: left
}

.bc-xs1 {
   width: 8.33333333%
}

.bc-xs2 {
   width: 16.66666667%
}

.bc-xs3 {
   width: 25%
}

.bc-xs4 {
   width: 33.33333333%
}

.bc-xs5 {
   width: 41.66666667%
}

.bc-xs6 {
   width: 50%
}

.bc-xs7 {
   width: 58.33333333%
}

.bc-xs8 {
   width: 66.66666667%
}

.bc-xs9 {
   width: 75%
}

.bc-xs10 {
   width: 83.33333333%
}

.bc-xs11 {
   width: 91.66666667%
}

.bc-xs12 {
   width: 100%
}

@media screen and (max-width:768px) {
   .bc-hide-xs {
      display: none !important
   }

   .bc-show-xs-block {
      display: block !important
   }

   .bc-show-xs-inline {
      display: inline !important
   }

   .bc-show-xs-inline-block {
      display: inline-block !important
   }
}

@media screen and (min-width:768px) {
   .bc-container {
      width: 750px
   }

   .bc-hide-sm {
      display: none !important
   }

   .bc-show-sm-block {
      display: block !important
   }

   .bc-show-sm-inline {
      display: inline !important
   }

   .bc-show-sm-inline-block {
      display: inline-block !important
   }

   .bc-sm1,
   .bc-sm10,
   .bc-sm11,
   .bc-sm12,
   .bc-sm2,
   .bc-sm3,
   .bc-sm4,
   .bc-sm5,
   .bc-sm6,
   .bc-sm7,
   .bc-sm8,
   .bc-sm9 {
      float: left
   }

   .bc-sm1 {
      width: 8.33333333%
   }

   .bc-sm2 {
      width: 16.66666667%
   }

   .bc-sm3 {
      width: 25%
   }

   .bc-sm4 {
      width: 33.33333333%
   }

   .bc-sm5 {
      width: 41.66666667%
   }

   .bc-sm6 {
      width: 50%
   }

   .bc-sm7 {
      width: 58.33333333%
   }

   .bc-sm8 {
      width: 66.66666667%
   }

   .bc-sm9 {
      width: 75%
   }

   .bc-sm10 {
      width: 83.33333333%
   }

   .bc-sm11 {
      width: 91.66666667%
   }

   .bc-sm12 {
      width: 100%
   }
}

@media screen and (min-width:992px) {
   .bc-container {
      width: 970px
   }

   .bc-hide-md {
      display: none !important
   }

   .bc-show-md-block {
      display: block !important
   }

   .bc-show-md-inline {
      display: inline !important
   }

   .bc-show-md-inline-block {
      display: inline-block !important
   }

   .bc-md1,
   .bc-md10,
   .bc-md11,
   .bc-md12,
   .bc-md2,
   .bc-md3,
   .bc-md4,
   .bc-md5,
   .bc-md6,
   .bc-md7,
   .bc-md8,
   .bc-md9 {
      float: left
   }

   .bc-md1 {
      width: 8.33333333%
   }

   .bc-md2 {
      width: 16.66666667%
   }

   .bc-md3 {
      width: 25%
   }

   .bc-md4 {
      width: 33.33333333%
   }

   .bc-md5 {
      width: 41.66666667%
   }

   .bc-md6 {
      width: 50%
   }

   .bc-md7 {
      width: 58.33333333%
   }

   .bc-md8 {
      width: 66.66666667%
   }

   .bc-md9 {
      width: 75%
   }

   .bc-md10 {
      width: 83.33333333%
   }

   .bc-md11 {
      width: 91.66666667%
   }

   .bc-md12 {
      width: 100%
   }
}

@media screen and (min-width:1200px) {
   .bc-container {
      width: 1170px
   }

   .bc-hide-lg {
      display: none !important
   }

   .bc-show-lg-block {
      display: block !important
   }

   .bc-show-lg-inline {
      display: inline !important
   }

   .bc-show-lg-inline-block {
      display: inline-block !important
   }

   .bc-lg1,
   .bc-lg10,
   .bc-lg11,
   .bc-lg12,
   .bc-lg2,
   .bc-lg3,
   .bc-lg4,
   .bc-lg5,
   .bc-lg6,
   .bc-lg7,
   .bc-lg8,
   .bc-lg9 {
      float: left
   }

   .bc-lg1 {
      width: 8.33333333%
   }

   .bc-lg2 {
      width: 16.66666667%
   }

   .bc-lg3 {
      width: 25%
   }

   .bc-lg4 {
      width: 33.33333333%
   }

   .bc-lg5 {
      width: 41.66666667%
   }

   .bc-lg6 {
      width: 50%
   }

   .bc-lg7 {
      width: 58.33333333%
   }

   .bc-lg8 {
      width: 66.66666667%
   }

   .bc-lg9 {
      width: 75%
   }

   .bc-lg10 {
      width: 83.33333333%
   }

   .bc-lg11 {
      width: 91.66666667%
   }

   .bc-lg12 {
      width: 100%
   }
}

.bc-space10 {
   margin: -5px
}

.bc-space10>* {
   padding: 5px
}